<?xml version="1.0"?>
<robot name="hokuyoScan" xmlns:xacro="https://github.com/juanpablo920">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="world"></link>

  <link name="dynamixel"></link>
  <joint name="dynamixel_joint" type="fixed">
    <parent link="world" />
    <child link="dynamixel" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="laser"></link>
  <joint name="laser_joint" type="fixed">
    <parent link="dynamixel" />
    <child link="laser" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>